
<div class="row mt-4">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      <form action="{{ url_for('send_mqtt_command') }}" method="POST" id="mqttCommandForm">
        <legend>Enviar Comando MQTT</legend>
        
        <div class="form-group mb-3">
          <label for="nodo_seleccionado" class="form-label">Seleccionar Nodo:</label>
          <select class="form-select" id="nodo_seleccionado" name="nodo_seleccionado" required>
            <option value="" disabled selected>-- Elige un nodo --</option>
            {% for nodo in nodos_mqtt %}
            <option value="{{ nodo.0 }}">{{ nodo.0 }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="comando_mqtt" class="form-label">Seleccionar Comando:</label>
          <select class="form-select" id="comando_mqtt" name="comando_mqtt" required>
            <option value="" disabled selected>-- Elige un comando --</option>
            <option value="destello">Destello</option>
            <option value="setpoint">Setpoint</option>
          </select>
        </div>

        <div class="form-group mb-3" id="setpoint_input_div" style="display: none;">
          <label for="setpoint_valor" class="form-label">Indique el tiempo en segundos:</label>
          <input type="number" class="form-control" id="setpoint_valor" name="setpoint_valor" placeholder="Ej: 60">
        </div>
        
        <button type="submit" class="btn btn-info mt-2">Enviar Comando MQTT</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const comandoSelect = document.getElementById('comando_mqtt');
    const setpointDiv = document.getElementById('setpoint_input_div');
    const setpointInput = document.getElementById('setpoint_valor');

    comandoSelect.addEventListener('change', function() {
      if (this.value === 'setpoint') {
        setpointDiv.style.display = 'block';
        setpointInput.required = true; // Hacerlo requerido si es visible
      } else {
        setpointDiv.style.display = 'none';
        setpointInput.required = false; // No requerido si está oculto
        setpointInput.value = ''; // Limpiar valor si se oculta
      }
    });
  });
</script>

